# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# Sphinx gallery output
output_files/
docs/source/auto_examples/
docs/source/sg_execution_times.rst

# Requirement files
uv.lock
requirements.txt
