repos:
-   repo: https://github.com/ambv/black
    rev: 22.1.0
    hooks:
    - id: black
      additional_dependencies: ['click==8.0.4']
      args: # arguments to configure black
       - --line-length=89
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: flake8
      additional_dependencies: [ 'flake8-bugbear' ]
      args: # arguments to configure flake8
       - "--max-line-length=89"
       - "--extend-ignore=E203" # ensures compatibility with black w.r.t. spaces before colons
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
    - id: isort
      args: ["--profile", "black"]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
    - id: mypy
      exclude: ^(tests/|docs/source/conf.py)
      args: ["--check-untyped-defs", "--disallow-untyped-calls", "--disallow-untyped-defs", "--disallow-untyped-decorators", "--disallow-incomplete-defs"]
- repo: https://github.com/nbQA-dev/nbQA #black and isort for Jupyter notebooks
  rev: 1.4.0
  hooks:
    - id: nbqa-black
    - id: nbqa-isort
      args: 
       - --profile=black