fail_fast: false
default_language_version:
  python: python3
default_stages:
  - pre-commit
  - pre-push
minimum_pre_commit_version: 2.16.0
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: detect-private-key
    - id: check-ast
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-added-large-files
      stages: [pre-commit]
      args: ["--maxkb=50000"]
    - id: trailing-whitespace
    - id: check-case-conflict
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
      types_or: [python, pyi, jupyter]
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format
      types_or: [python, pyi, jupyter]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    - id: mypy
      pass_filenames: false
      args: [-p, pydeseq2, --ignore-missing-imports]
