sphinx==4.4.0
sphinx_rtd_theme==1.0.0
sphinx-autobuild==2020.9.1
texttable==1.6.3
myst-parser==0.16.1
# Sphinx 3.3.1 does not require a specific version of docutils
# but docutils 0.17 changed the output html markup, breaking the RTD theme
# original issue: https://github.com/sphinx-doc/sphinx/issues/9051
docutils==0.16
sphinx_click==3.1.0
sphinx_gallery==0.11.1
matplotlib==3.6.2  # not sure why sphinx_gallery does not work without it
