name: pr-validation

# Controls when the workflow will run
on:
  push:
    branches:
      - main
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install isort black==22.3.0
          pip install flake8
          pip install pre-commit
          pip install -e ."[dev]"
          pip install -r docs/requirements.txt
      - name: pre-commit
        run: pre-commit run --all-files --show-diff-on-failure
      - name: Test with pytest
        run: |
          coverage run -m pytest
      - name: Generate code coverage report
        run: |
          coverage html
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-coverage-report
          path: htmlcov/
          retention-days: 20
      - name: Compile docs
        run: |
          cd docs
          make clean html
