name: pr-validation

# Controls when the workflow will run
on:
  push:
    branches:
      - main
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install isort black==22.3.0
          pip install flake8
          pip install -e ."[dev]"
          pip install -r docs/requirements.txt
      - name: Run black
        run: black --line-length=89 --check .
      - name: Run flake8
        run: flake8 --max-line-length=89 --extend-ignore=E203 .
      - name: Run isort
        run: isort .
      - name: Test with pytest
        run: |
          coverage run -m pytest
      - name: Generate code coverage report
        run: |
          coverage html
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-coverage-report
          path: htmlcov/
      - name: Compile docs
        run: |
          cd docs
          make clean html
