name: pr-validation

# Controls when the workflow will run
on:
  push:
    branches:
      - '**'
  pull_request:
  schedule:
    # Run every week day at 3h30 UTC
    - cron: '30 3 * * 1,2,3,4,5'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python: "3.10"
          - os: ubuntu-latest
            python: "3.10"
            pip-flags: "--pre"
          - os: ubuntu-latest
            python: "3.11"
          - os: ubuntu-latest
            python: "3.11"
            pip-flags: "--pre"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ."[dev]"
          pip install -r docs/requirements.txt
      - name: Test with pytest
        run: |
          coverage run -m pytest
      - name: Generate code coverage report
        run: |
          coverage html
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v3
        with:
          name: test-coverage-report
          path: htmlcov/
          retention-days: 20
      - name: Compile docs
        run: |
          cd docs
          make clean html
